html {
  background-color: rgb(227, 201, 167);
  background-image: url("https://static.wixstatic.com/media/a5b467_c1ca6f0673d341c486ff8639cd098826~mv2_d_1752_1378_s_2.jpg/v1/fill/w_640,h_1296,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/a5b467_c1ca6f0673d341c486ff8639cd098826~mv2_d_1752_1378_s_2.jpg");
}

.home {
  color: black;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 50px;
}

.header {
  font-size: 50px;
  margin-top: 5px;
}

.header-img {
  padding: 1.5rem;
  height: 200px;
}

.about {
  text-align: center;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  font-size: 20px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

nav {
  background-color: rgb(110, 74, 7);
  border-radius: 0.5rem;
  margin-bottom: 30px;
  padding: 2px;
}

nav a {
  display: inline-block;
  padding: 0.25rem;
  margin: 1rem;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(227, 223, 217);
  border-bottom: 2px solid rgb(105, 73, 35);
  transition: 0.1s;
}

nav a:hover,
nav a:active {
  color: #d5aa7f;
  border-bottom: 2px solid #d5aa7f;
}

nav a.active {
  background-color: #d5aa7f;
  color: white;
}
.dogsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dogCard {
  background-color: rgb(159, 118, 29);
  border-radius: 3rem;
  box-shadow: 5pt 6px rgba(74, 55, 12, 0.8);
  width: 33%;
  overflow: hidden;
  margin: 2.5rem;
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.nameImg {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dogImg {
  border-radius: 2rem;
  max-width: 250px;
  max-height: 300px;
  min-width: 450px;
  max-height: 300px;
  justify-content: center;
  align-items: center;
}

.dogName {
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}

.dogInfo {
  width: 100%;
  height: fit-content;
  font-size: 20px;
  font-weight: 700;
}

.delEditBtn {
  min-width: 30px;
  min-height: 30px;
  font-size: 20px;
  font-weight: 600;
}

.delEditContainer {
  display: flex;
  justify-content: right;
  margin: 20px;
}

#appSubmit {
  width: 200px;
  padding: 7px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: #d5aa7f;
  cursor: pointer;
  margin-left: 30%;
}

.formInput {
  height: 25px;
  width: 70%;
}

.card {
  background-color: rgb(159, 118, 29);
  border-radius: 4rem;
  box-shadow: 5pt 6px rgba(74, 55, 12, 0.8);
  display: flex;
  width: 60%;
  overflow: hidden;
  padding: 2%;
  margin: 2rem;
  min-width: 20%;
}

.walker-img {
  border-radius: 1rem;
  max-width: 500px;
}

.appt-card {
  border-style: inset;
  text-align: center;
  font-weight: 500;
  --text: black;
  position: relative;
  height: 8rem;
  width: 45%;
  box-shadow: 2pt 8px rgba(93, 66, 3, 0.05);
  padding-bottom: 2%;
  margin-left: 4%;
}

.appt-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem;
}

.form {
  border-style: solid;
  margin-left: 25%;
  text-align: center;
  position: relative;
  height: 8rem;
  width: 50%;
}

.form label {
  margin-left: 10px;
}

.updateForm {
  display: flex;
  flex-direction: column;
}

#updateSubmit {
  width: 200px;
  padding: 7px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  background-color: #d5aa7f;
  cursor: pointer;
  margin-left: 50px;
}

#cancelBtn {
  width: 200px;
  height: 35x;
  padding: 7px;
  margin-left: 50px;
  font-weight: 600;
}

.applicationForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
  padding: 30px;
  background-color: rgb(159, 118, 29);
  border-radius: 3rem;
  box-shadow: 5pt 6px rgba(74, 55, 12, 0.8);
  width: 33%;
  overflow: hidden;
  margin-left: 33%;
  margin-right: 25%;
  margin-bottom: 50px;
  margin-top: 30px;
  box-sizing: border-box;
}

.applicationForm input {
  margin-top: 5px;
  margin-left: 15%;
}

.appLabel {
  font-size: 20px;
  font-weight: 700;
  margin-left: 15%;
}

.updateLabel {
  font-size: 18px;
  font-weight: 500;
}

.applicationForm button {
  margin-top: 10px;
}

.applicationTitle {
  text-align: center;
}

.applicationFormContainer {
  justify-content: center;
}

.walkerText {
  min-width: 30%;
  margin-left: 10%;
  margin-top: 75px;
  margin-right: 40%;
  font-size: 25px;
  font-weight: 700;
  flex-wrap: nowrap;
}

.card__content {
  display: flex;
  flex-flow: column;
  padding: 3%;
  margin-right: 20%;
}

.walkerInfo {
  display: flex;
  flex-wrap: nowrap;
}
